*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: 'Montserrat', sans-serif;
}

.header{
    height: 12vh;
    background-color:  aqua;
}

.carrossel{}

.supCarrossel{}

.imgSobreposta{}

.text-card{}

.textSup{}

.card{}

.img-card{}

.text-card{}

.img{}

.mini-card{}

.img-minicard{}

.mtv-card{}

.fundo{}

.footer{}

.footer-icon{}

.footer-text1{}

.footer-text2{}